*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #BAF5F0;
  list-style: none;
  padding: 0 25% 0 25%;
  height: 7vh;
}

.navbar-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width:500px;
}

.navbar-items:hover{
  cursor: pointer;
}

.btn{
  background-color: transparent;
  border: 2px #D17AE5 solid;
  border-radius: 25px;
  width: 100px;
  height: 30px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E889E5;
  height: 7vh;
}

.home-container{
  background-color: #F9FCC9;
  height: 100vh;
}