*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #BAF5F0;
  list-style: none;
  padding: 0 25% 0 25%;
  height: 7vh;
}

.navbar-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width:500px;
}

.navbar-items:hover{
  cursor: pointer;
}

.btn{
  background-color: transparent;
  border: 2px #D17AE5 solid;
  border-radius: 25px;
  width: 100px;
  height: 30px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E889E5;
  height: 7vh;
}

.home-container{
  background-color: #F9FCC9;
  height: 100vh;
}

.signUpForm, .signInForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
  width: 500px;
  height: 500px;
  background-color: rgb(8, 8, 8);
  opacity: 0.8;
  border-radius: 40px;
  border: 4px  aquamarine solid;
  }
  

  input[type=text] {
    background-color: aquamarine;
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 40px;
    z-index: 1;
  }
  
  input[type=text]:focus {
    border: 1px solid rgb(227, 224, 224);
  }